@use '../helpers' as *;

.blog-details {
    &__banner {
        display: flex;
        min-height: fluid(598, 281);
        align-items: end;
        padding-block: fluid(65, 17);
        text-align: center;
        background: linear-gradient(
            180deg,
            rgba(20, 20, 20, 0) 0%,
            rgba(20, 20, 20, 0.88) 75.52%, 
            #141414 100%,
        ),
        var(--bgImg) center/cover no-repeat;
    }

    &__title {
        @include fluid-text(64, 28);

        font-family: var(--font-family-base);
        font-weight: 600;
    }

    &__body {
        border-block: var(--border);

        &-inner {
            display: grid;
            grid-template-columns: 1fr rem(520);
        }
    }

    &__content {
        border-right: var(--border);
    }

    &__intro,
    &__main,
    &__actions,
    &__summary {
        padding: fluid(80, 40) rem(80);

        @include laptop {
            padding-inline: rem(60);
        }
    }

    &__actions {
        padding-block: fluid(50, 20);
    }

    &__intro,
    &__actions {
        border-bottom: var(--border);
    }
}