@use '../helpers' as *;

.news-card {
    display: grid;
    row-gap: rem(20);
    height: 100%;

    @include laptop {
        row-gap: rem(16);
    }

    &:has(.news-card__summary) {
        column-gap: rem(80);
        padding-block: fluid(80, 40);

        @include laptop {
            column-gap: rem(40);
        }

        @include mobile-above {
            grid-template-columns: 32% 1fr;
            grid-template-areas: 
            'image other'
            'image other'
            'image other';
        }

        .news-card {
            &__title {
                @include fluid-text(32, 20);
                font-family: var(--font-family-base);
                font-weight: 600;
            } 

            &__image {
                height: fluid(427, 213);

                @include mobile-above {
                    grid-area: image;
                }
            }    
        }
    }

    &__image {
        border-radius: rem(12);
        object-fit: cover;
        width: 100%;
        height: rem(222);

        @include laptop {
            border-radius: rem(10);
            height: rem(185);
        }
    }

    &__body {
        display: grid;
        row-gap: em(10);

        @include laptop {
            row-gap: rem(4);
        }
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
    }

    &__link {
        @include mobile-s {
            min-width: rem(153);
        }
    }
}