@use '../helpers' as *;

.person-card {
    --imageSize: #{rem(80)};

    display: flex;
    align-items: center;
    column-gap: fluid(16, 8);

    @include laptop {
        --imageSize: #{rem(60)};
    }

    &__image {
        width: var(--imageSize);
        background-color: var(--color-dark-15);
        border-radius: 50%;

        @include laptop {
            width: rem(60);
        }
    }

    &__body {
        display: grid;
        row-gap: rem(2);

        @include laptop-above {
            row-gap: rem(2);
        }
    }

    &__name {
        font-size: rem(20);
        font-weight: 600;
        color: var(--color-light);

        @include laptop {
            font-size: rem(18);
        }
    }
}