@use '../helpers' as *;

.section {
    &__header {
        padding-block: fluid(120, 40);
        background-color: var(--color-dark-10);

        &-inner {
            &:has(.section__link) {
                display: grid;
                align-items: center;
                column-gap: 1rem;

                @include mobile-above {
                    grid-template-columns: 1fr auto;
                }
            }
        }

        &-info{
            display: grid;
            align-items: center;
            row-gap: rem(16);

            @include laptop {
                row-gap: rem(10);
            }
        }
    }

    &__subtitle {
        justify-self: start;
    }

    &__body {
        border-block: var(--border);
    }

    &__link {
        max-width: rem(360);
    }
}